.box{
	height: 300px;
	width: 400px;
	margin: 0 auto;
	background-color: red;
	padding: 50px;

}

@media screen (max-width: 320px) and (max-width: 575px){
	.box{
		background-color: black;
		color: #fff;
		width: 90%;
		padding: 10px;
	}
}

@media screen and (max-width: 576px){
	.box{
		background-color: yellow;
		color: black;
		width: 90%;
		padding: 10px;
	}
}